

<h2> Me stored/name</h2>


<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Age</th>
            <th>Color</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each duongs}}
            <tr>
                <td>{{sum @index 1}}</td>
                <td>{{this.name}}</td>
                <td>{{this.age}}</td>
                <td>{{this.color}}</td>
                <td>
                    <a href="/name/{{this._id}}/edit">Update</a>
                    <a href="">Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>